<h3>Me</h3>
<p><code>pamfýll</code></p>
<p>"Pamfýll" is an Icelandic/Danish word which nobody really knows the meaning of.
However, it is usually bundled with good luck. I guess I put it here thinking I might need need it someday.</p>

<h4>Contact Info</h4>
|
<a class="muted" href="http://500px.com/gummiks">500px</a>
|
<a class="muted" href="http://www.flickr.com/photos/91758186@N03/with/8393535214/">flickr</a>
|
<a class="muted" href="https://www.facebook.com/gudmundurkari">facebook</a>
|

<h4>Recent posts!</h4>
<ul>
  {% for post in site.posts limit: 4 %}
  <li> {{ post.date | date_to_long_string }} <a href="{{ post.url }}">{{ post.title }}</a>  </li>
  {% endfor %}
</ul>
